div {
	position: fixed;
	margin: 0.5em;
	width: 20em;
}

button {
	width: 12em;
	font-size: 1em;
	margin-bottom: 1em;
	border: solid 1px gray;
	border-radius: 0.4em;
	background: white;
}

button:hover {
	background: lightgray;
}
